scrape_configs:
  - job_name: "ping"
    {% if static_configs %}
    static_configs:
      - targets:
        {% for target in static_configs.targets  %}
          - {{ target }}
        {% endfor %}
        labels:
        {% for label in static_configs.labels  %}
          {{ label }}: {{ static_configs.labels[label] }}
        {% endfor %}
    {% endif %}