scrape_configs:
  - job_name: "snmp_interface"
    file_sd_configs:
      - files:
          - "../snmp_targets.json"
        refresh_interval: 120s
    {% if scrape_interval  %}
    scrape_interval: {{ scrape_interval }}
    {% endif %}
    scrape_timeout: 10s
    metrics_path: /snmp
    params:
      auth: [public_v3]
      module: [if_mib]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 172.18.0.4:9116 # The SNMP exporter's real hostname:port.{{'\n'}}